:root {
  --canvas_w: 74vw;
  --canvas_h: 80vh;
  --palette_w: 20vw;
  --drawer_h: 14vh;
  --drawer_w: 96vw;
  --margin_w: 2vw;
  --margin_h: 2vh;
  --global_border_radius: 0.7vw;
}

* {
  margin: 0;
}


.App {
  text-align: center;
}

.App-wrapper {
  position: absolute;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  /* display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center; */
  font-size: calc(8px + 1vmin);
  color: white;
}

.primary {
  position: absolute;
  color: #c4d4e1;
  color: #bcb5d3;
  color: #f5dbe2;
  color: #eeb6c9;
  color: #c49abf;
  color: #f47b79;
  color: rgb(196, 212, 225);
  color: rgb(196, 212, 225);
}

.map-canvas {
  background-color: #e6e6e6;
  left: var(--margin_w);
  top: var(--margin_h);
  width: var(--canvas_w);
  height: var(--canvas_h);
  /* cursor: crosshair; */
  border-radius: var(--global_border_radius);
}

.palette {
  background-color: #636363;
  right: var(--margin_w);
  top: var(--margin_h);
  width: var(--palette_w);
  height: var(--canvas_h);
  display: flex;
  flex-direction: row;
  /* align-items:center; */
  justify-content: center;
  flex-wrap: wrap;
  border-radius: var(--global_border_radius);
  box-sizing: border-box;
  padding:0.8vw;
}

.drawer {
  background-color: #434343;
  left: var(--margin_w);
  bottom: var(--margin_h);
  width: var(--drawer_w);
  height: var(--drawer_h);
  border-radius: var(--global_border_radius);
  box-sizing: border-box;
  padding: 1.5vh;
  text-align: left;
}

.blockbutton {
  cursor: pointer;
  border-radius: 10%;
  transition: 0.3s;
  border: 2px solid #2c2c2c00;
  height: 7.8vw;
  width: 7.8vw;
  max-width: 20vh;
  max-height: 20vh;
  margin: auto;
}
.blockbutton:hover, .blockbuttonselected {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 30%;
  height: 7.8vw;
  width: 7.8vw;
  max-width: 20vh;
  max-height: 20vh;
  margin: auto;
}
